.smallBorder1 {
  background-color: #00497c;
  margin-left: 30px;
}

.smallBorder2 {
  position: absolute;
  background-color: #00497c;
  height: 8px;
  width: 2rem;
  margin-left: 30px;
}

.stepNumber {
  color: #00497c;
  font-weight: 600;
  margin-top: 50px;
  margin-left: 30px;
}

.step {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.stepPhone,
.stepTablet,
.stepDesktop {
  border: #384050 solid 2px;
  margin: 0 auto;
}

.cardPosition {
  display: flex;
  justify-content: center;
}

.card {
  box-shadow: 0px 0px 15px rgba(black, 0.5);
  border-radius: 30px;

  .avatarIcon {
    object-fit: contain;
  }

  .card-title {
    text-align: center;
    color: #0074c7;
    font-weight: bold;
  }

  .locationBlock {
    display: flex;
    justify-content: center;
    margin: 20px auto;
  }

  .bluePing {
    margin-right: 5px;
  }

  .more {
    display: flex;
    justify-content: center;
    background-color: #0074c7;
    font-weight: bold;
    color: #f1f8fc;
    border-radius: 15px;
  }

  .more:hover {
    background-color: #384050;
  }
}

.card:hover {
  box-shadow: 0px 0px 15px rgba(#0074c7, 0.5);
}

.monthWorker {
  margin-top: 50px;
}

@media screen and (max-width: 425px) {
  .smallBorder1 {
    display: flex;
    height: 10px;
    width: 2.5rem;
  }

  .smallBorder2 {
    height: 8px;
    width: 2rem;
  }

  .step {
    margin-top: 25px;

    .stepTitle {
      text-align: center;
      font-size: 1rem;
    }

    .stepPhone1 {
      height: 150px;
      object-fit: contain;
      margin-top: 20px;
    }

    .stepPhone2 {
      height: 700px;
      object-fit: contain;
      margin: 0 auto;
      margin-top: 20px;
    }

    .stepPhone3 {
      height: 450px;
      object-fit: contain;
      margin: 0 auto;
      margin-top: 20px;
    }

    .stepPhone4 {
      height: 150px;
      object-fit: contain;
      margin: 0 auto;
      margin-top: 20px;
    }
  }

  .stepNumber {
    font-size: 1.3rem;
  }

  .card {
    margin-top: 50px;

    .card-body {
      line-height: 20px;

      .avatarIcon {
        height: 150px;
      }

      .bluePing {
        height: 25px;
        width: 25px;
      }
    }
  }

  .stepTablet,
  .stepDesktop {
    display: none;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .smallBorder1 {
    display: flex;
    height: 10px;
    width: 2.8rem;
  }

  .smallBorder2 {
    height: 8px;
    width: 2.2rem;
  }

  .step {
    margin-top: 25px;

    .stepTitle {
      text-align: center;
      font-size: 1.2rem;
    }

    .stepTablet1 {
      height: 300px;
      object-fit: contain;
      margin-top: 20px;
    }

    .stepTablet2 {
      height: 500px;
      object-fit: contain;
      margin: 0 auto;
      margin-top: 20px;
    }

    .stepTablet3 {
      height: 650px;
      object-fit: contain;
      margin: 0 auto;
      margin-top: 20px;
    }

    .stepTablet4 {
      height: 250px;
      object-fit: contain;
      margin: 0 auto;
      margin-top: 20px;
    }
  }

  .stepNumber {
    font-size: 1.5rem;
  }

  .cardPosition {
    display: flex;
    justify-content: space-around;
  }

  .card {
    margin-top: 80px;

    .card-body {
      line-height: 15px;

      .avatarIcon {
        height: 170px;
      }

      .bluePing {
        height: 25px;
        width: 25px;
      }
    }
  }

  .stepPhone,
  .stepDesktop {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1048px) {
  .smallBorder1 {
    position: absolute;
    height: 10px;
    width: 3rem;
  }

  .smallBorder2 {
    height: 8px;
    width: 2.4rem;
  }

  .step {
    margin-top: 25px;

    .stepTitle {
      text-align: center;
      font-size: 1.3rem;
    }

    .stepDesktop1 {
      height: 150px;
      object-fit: contain;
      margin-top: 20px;
    }

    .stepDesktop2 {
      height: 350px;
      object-fit: contain;
      margin: 0 auto;
      margin-top: 20px;
    }

    .stepDesktop3 {
      height: 800px;
      object-fit: contain;
      margin: 0 auto;
      margin-top: 20px;
    }

    .stepDesktop4 {
      height: 250px;
      object-fit: contain;
      margin: 0 auto;
      margin-top: 20px;
    }
  }

  .stepNumber {
    font-size: 1.6rem;
  }

  .cardPosition {
    display: flex;
    justify-content: space-around;
  }

  .card {
    margin-top: 80px;

    .card-body {
      line-height: 20px;

      .avatarIcon {
        height: 190px;
      }

      .bluePing {
        height: 25px;
        width: 25px;
      }
    }
  }

  .stepPhone,
  .stepTablet {
    display: none;
  }
}

@media screen and (min-width: 1049px) {
  .smallBorder1 {
    position: absolute;
    height: 10px;
    width: 3.2rem;
  }

  .smallBorder2 {
    height: 8px;
    width: 2.6rem;
  }

  .step {
    margin-top: 25px;

    .stepTitle {
      text-align: center;
      font-size: 1.4rem;
    }

    .stepDesktop1 {
      height: 200px;
      object-fit: contain;
      margin-top: 20px;
    }

    .stepDesktop2 {
      height: 400px;
      object-fit: contain;
      margin: 0 auto;
      margin-top: 20px;
    }

    .stepDesktop3 {
      height: 700px;
      object-fit: contain;
      margin: 0 auto;
      margin-top: 20px;
    }

    .stepDesktop4 {
      height: 250px;
      width: 35%;
      margin: 0 auto;
      margin-top: 20px;
    }
  }

  .stepNumber {
    font-size: 1.7rem;
  }

  .cardPosition {
    display: flex;
    justify-content: space-around;
  }

  .card {
    margin-top: 80px;

    .card-body {
      line-height: 30px;

      .avatarIcon {
        height: 200px;
      }

      .bluePing {
        height: 25px;
        width: 25px;
      }
    }
  }

  .stepPhone,
  .stepTablet {
    display: none;
  }
}
