.smallBorder {
  position: absolute;
  background-color: #00497c;
  height: 10px;
  width: 2.5rem;
  margin-left: 30px;
}

.stepNumber {
  color: #00497c;
  font-weight: 600;
  margin-top: 50px;
  margin-left: 30px;
}

.step {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.stepPhone,
.stepTablet,
.stepDesktop {
  border: #384050 solid 2px;
  margin: 0 auto;
}

@media screen and (max-width: 425px) {
  .smallBorder {
    height: 10px;
    width: 2.5rem;
  }

  .step {
    margin-top: 25px;
  }

  .stepNumber {
    font-size: 1.3rem;
  }

  .stepTitle {
    text-align: center;
    font-size: 1rem;
  }

  .stepPhone1 {
    height: 200px;
    width: 80%;
    margin-top: 20px;
  }

  .stepPhone2 {
    height: 1100px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .stepPhone3 {
    height: 600px;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .stepPhone4 {
    height: 200px;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .stepTablet,
  .stepDesktop {
    display: none;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .smallBorder {
    height: 10px;
    width: 2.8rem;
  }

  .step {
    margin-top: 25px;
  }

  .stepNumber {
    font-size: 1.5rem;
  }

  .stepTitle {
    text-align: center;
    font-size: 1.2rem;
  }

  .stepTablet1 {
    height: 400px;
    width: 80%;
    margin-top: 20px;
  }

  .stepTablet2 {
    height: 1000px;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .stepTablet3 {
    height: 950px;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .stepTablet4 {
    height: 400px;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .stepPhone,
  .stepDesktop {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1048px) {
  .smallBorder {
    height: 10px;
    width: 3rem;
  }

  .step {
    margin-top: 25px;
  }

  .stepNumber {
    font-size: 1.6rem;
  }

  .stepTitle {
    text-align: center;
    font-size: 1.3rem;
  }

  .stepDesktop1 {
    height: 250px;
    width: 90%;
    margin-top: 20px;
  }

  .stepDesktop2 {
    height: 520px;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .stepDesktop3 {
    height: 1100px;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .stepDesktop4 {
    height: 400px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .stepPhone,
  .stepTablet {
    display: none;
  }
}

@media screen and (min-width: 1049px) {
  .smallBorder {
    height: 10px;
    width: 3.2rem;
  }

  .step {
    margin-top: 25px;
  }

  .stepNumber {
    font-size: 1.7rem;
  }

  .stepTitle {
    text-align: center;
    font-size: 1.4rem;
  }

  .stepDesktop1 {
    height: 300px;
    width: 60%;
    margin-top: 20px;
  }

  .stepDesktop2 {
    height: 550px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .stepDesktop3 {
    height: 900px;
    width: 35%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .stepDesktop4 {
    height: 250px;
    width: 35%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .stepPhone,
  .stepTablet {
    display: none;
  }
}
